.root
{

}

.table-view
{
    -fx-background-color: transparent;
    -fx-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: white;
}
.table-view > .column-header-background
{
    -fx-background-color: transparent;
}
.table-view > .column-header-background > .column-drag-header
{
    -fx-background-color: transparent;
}
.table-view > .column-header-background > .nested-column-header > .column-header
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .label
{
    -fx-text-fill: white;
}
.table-view .cell
{
    -fx-background-color: transparent;
}
.table-view .cell .label
{
    -fx-text-fill: white;
}